name: CI/CD

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always
  IMAGE_NAME: ${{ github.repository }}
  REGISTRY: ghcr.io

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Cargo cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            ./target
          key: test-cargo-registry-${{ runner.os }}
      - name: Run tests
        run: cargo test --verbose

  setup:
    name: Prepare build information
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
      build: ${{ steps.build.outputs.build }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - id: version
        name: Get version number
        run: echo "version=$(git describe --tags --always)" >> "$GITHUB_OUTPUT"
      - id: build
        name: Get build number
        run: echo "build=${GITHUB_RUN_NUMBER}" >> "$GITHUB_OUTPUT"

  docker:
    name: Build Docker image
    needs: [test, setup]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to the container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=ref,event=tag
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          file: Dockerfile
          context: .
          build-args: |
            VITE_APP_BUILD=${{ needs.setup.outputs.build }}
            VITE_APP_VERSION=${{ needs.setup.outputs.version }}
          push: ${{ github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/') }}
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build:
    name: Build binary - ${{ matrix.platform.os-name }}
    needs: [test, setup]
    strategy:
      fail-fast: false
      matrix:
        platform:
          - os-name: Linux (ARM64)
            runs-on: ubuntu-latest
            target: aarch64-unknown-linux-gnu
          - os-name: Linux (ARM64, musl)
            runs-on: ubuntu-latest
            target: aarch64-unknown-linux-musl
          - os-name: Linux (Armv7-A)
            runs-on: ubuntu-latest
            target: armv7-unknown-linux-gnueabihf
          - os-name: Linux (Armv7-A, musl)
            runs-on: ubuntu-latest
            target: armv7-unknown-linux-musleabihf
          - os-name: Linux (Armv6)
            runs-on: ubuntu-latest
            target: arm-unknown-linux-gnueabihf
          - os-name: Linux (Armv6, musl)
            runs-on: ubuntu-latest
            target: arm-unknown-linux-musleabihf
          - os-name: Linux (x86-64)
            runs-on: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - os-name: Linux (x86-64, musl)
            runs-on: ubuntu-latest
            target: x86_64-unknown-linux-musl
          - os-name: macOS (ARM64)
            runs-on: macOS-latest
            target: aarch64-apple-darwin
          - os-name: macOS (x86-64)
            runs-on: macOS-latest
            target: x86_64-apple-darwin
          - os-name: Windows (ARM64)
            runs-on: windows-latest
            target: aarch64-pc-windows-msvc
          - os-name: Windows (x86-64)
            runs-on: windows-latest
            target: x86_64-pc-windows-msvc
    runs-on: ${{ matrix.platform.runs-on }}
    env:
      NAME: anifunnel
      OS: ${{ matrix.platform.runs-on }}
      TARGET: ${{ matrix.platform.target }}
      VITE_APP_BUILD: ${{ needs.setup.outputs.build }}
      VITE_APP_VERSION: ${{ needs.setup.outputs.version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Build the front-end
        shell: bash
        working-directory: ./frontend
        run: |
          npm install
          npm run build
      - name: Build binary
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: build
          target: ${{ matrix.platform.target }}
          args: "--locked --release"
          strip: true
      - name: Compress
        shell: bash
        run: |
          mkdir -p ./artifacts
          if [[ $OS =~ ^macos.*$ ]]; then
            export PATH="$(brew --prefix gnu-tar)/libexec/gnubin:$PATH"
          fi
          if [[ $OS =~ ^windows.*$ ]]; then
              EXEC=$NAME.exe
          else
              EXEC=$NAME
          fi
          mv ./target/$TARGET/release/$EXEC ./$EXEC
          tar -czf ./artifacts/$NAME-$TARGET-${GITHUB_REF_NAME//\//-}.tar.gz $EXEC
      - name: Archive artifact
        uses: actions/upload-artifact@v6
        with:
          name: release-build-${{ matrix.platform.target }}
          path: |
            ./artifacts

  deploy:
    name: Attach downloads to release
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          path: ./artifacts
          pattern: release-build-*
          merge-multiple: true
      - name: Release to GitHub
        uses: softprops/action-gh-release@v1
        with:
          files: ./artifacts/*.tar.gz
